body {
    width: 800px;
    margin: 0 auto;
}

.diya {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;
    width: 512px;
    height: 512px;
    background-image: url(../img/diya.png);
    background-repeat: no-repeat;
    background-position: 50% 39%;
    padding-top: 343px;
    
}

.flag {
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
    border-radius: 6px;
    width: 80px;
    height: 60px;
    margin: 0 auto;
}

.flag-square {
    box-sizing: border-box;
    margin: 100px auto 0;
    padding-top: 144px;
    width: 512px;
    height: 512px;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
}

.figure {
    text-align: center;
}

.flag-circle {
    box-sizing: border-box;
    margin: 100px auto;
    padding-top: 250px;
    border-radius: 100%;
    width: 512px;
    height: 512px;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
}