* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

.contener {
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 64px 45px;
    background-color: #E5E5E5;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

fieldset {
    border: none;
    border-bottom: 1px solid #D1D1D1;
}

legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-item {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.input-item label {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.position-relative {
    position: relative;
}

.input-item span {
    position: absolute;
    right: 3%;
    top: 65%;
    background-image: url(../icons/arrow.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 13px;
}

.input-item i {
    position: absolute;
    right: 3%;
    top: 54%;
    background-image: url(../icons/icon-search.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.secondary-color {
    color: #0050D8;
}

.visibility {
    visibility: hidden;
}

.input-content-center {
    display: flex;
    justify-content: center;
}

.input-item select {
    padding: 10px 10px;
    margin-top: 8px;
}

.input-item input {
    padding: 10px 10px;
    margin-top: 8px;
}

.block {
    margin-top: 32px;
}

.checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

/* .checkbox input { 
    display: none;
} */

.checkbox label {
    margin-top: 4px;
    padding-left: 8px;
    /* position: relative; */
}

input.purged[type="radio"] {
    display: none;
}

.purged + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 50%;
}

input.purged[type="radio"]:checked + label {
    background-color: aqua;
}

.btn {
    text-transform: capitalize;
    padding: 9px 16px;
    border: none;
    background-color: #0050D8;
    border-radius: 4px;
    color: #fff;
    margin-top: 25px;
    align-self: flex-end;
}

/* .checkbox label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
}

.input-item input:checked + label::before {
    background-color: #000;
} */