* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #F5F5F5;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-top {
    max-height: 90px;
    background-color: #202846;
    display: flex;
    justify-content: space-between;
    padding: 10px 63px 10px 135px;
}

.logo {
    max-height: 70px;
    display: flex;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.menu li {
    float: left;
    color: #fff;
    margin-right: 54px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    display: inline-block;
    text-align: center;
}

.menu li a:last-child {
    max-width: 170px;
}

.language {
    display: flex;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    align-items: center;
    color: #fff;
}

.language svg {
    margin-right: 15px;
}

.header-bottom {
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 227px;
    background-color: #C6C6DC;
    font-style: italic;
    font-size: 48px;
    line-height: 62px;
}

.contener {
    width: 1489px;
    margin: 0 auto;
}

.drop-down {
    margin-top: 56px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.61);
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    position: relative;
}

.drop-down img {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

}

.cards {
    margin-top: 56px;
}

.card {
    display: flex;
    padding: 28px 87px 28px 103px;
    background-color: #BDBDC6;
    position: relative;
    margin-bottom: 36px;
    height: 300px;
}

.card:hover {
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card:hover svg path {
    fill: #FFFF00;
}



.card:last-child {
    margin-bottom: 0;

}

.card-info {
    margin-left: 102px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-info div {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
    border-bottom: 3px solid #fff;
}
.card-info p {
    padding: 24px 57px;
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    margin: auto 0;
    background-color: #D7D7DD;
}

.card-star {
    position: absolute;
    top: 19px;
    right: 19px;
}

.card-button {
    position: absolute;
    bottom: 10px;
    right: -48px;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    background-color: #202846;
    padding: 15px 39px;
    border-radius: 31px;
    display: block;
    z-index: 10;
}

.card-button:hover {
    background-color: #EF075B;
    transition: all .4s;
}

footer {
    margin-top: 100px;
    padding: 22px 117px 22px 117px;
    background-color: #202846;
    color: #fff;
}

.come-back {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10;
}