.contacts-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 65px 0;
}

.contacts-item {
    font-size: 32px;
    line-height: 41px;
    color: #000;
}

.contacts-item a {
    color: #000;
}

.title {
    border-bottom: 3px solid #202846;
    padding-left: 20px;
}

.middle-margin {
    margin: 0 89px 52px;
}

.work-time {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.map {
    max-width: 50%;
    margin-left: 89px;
}