* {
    box-sizing: border-box;
}

main {
    position: relative;
}

.container {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.box-img {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 85px;
    padding: 10px;
    background-color: yellow;
    border-radius: 24px;
    z-index: 10;
}

.prev-btn {
    left: 25%;
}

.next-btn {
    right: 25%;
}