* {
    box-sizing: border-box;
    text-decoration: none;
}

body, ul {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.contener {
    width: 1440px;
    margin: 0 auto;
    background: #212529;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-right: 48px;
    padding-bottom: 23px;
    padding-left: 62px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item > a {
    padding: 12.5px;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
}

.nav-item:hover > a {
    color: #FFB742;
}

.hireMe-btn {
    padding: 12px 26px;
    color: #212529;
    background-color: #FFB742;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
}

.hireMe-btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: #FFB742;
}

.main {
    width: 90%;
    margin: 112px auto 137px;   
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.main-info div,
.main-info h1 {
    color: #fff;
}

.main-info div:nth-of-type(1) {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
}

.main-info span:nth-of-type(1) {
    color: #FFB742;
    text-decoration: underline;
}

.main-info > h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    margin-top: 0;
}

.main-info div:nth-of-type(2) {
    font-size: 24px;
    line-height: 51px;
    font-family: 'Inter', sans-serif;

}

.main-info > img {
    margin-top: 22px;
}

.rank {
    margin-top: 136px;
    display: flex;
    justify-content: space-between;
}

.rank-item {
    background-color: #292B2E;
    width: 32%;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text > span  {
    font-family: 'Inter', sans-serif;
}

.item-text span:first-child {
    color: #FFB742;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.item-text span:last-child {
    color: #fff;

}

.rank-item button {
    background-color: #292B2E;
    border: none;
    padding: 10px;
}

.rank-item:hover,
.rank-item:hover button {
    background-color: #FFB742;
}

.rank-item:hover .item-text span {
    color: #000000;
}

.rank-item:hover button svg > path {
    fill: #000000;
}

.about {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.about-me {
    padding: 100px 40px;
}

.mark {
    color: #FFB742;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 6px 25px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.head {
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.about-me > p {
    color: #fff;
    margin-bottom: 54px;
}

article {
    margin-top: 64px;
}

.works {
    width: 90%;
    margin: 0 auto;
}

.works > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark-work {
    text-transform: uppercase;
}

.work-item {
    margin-right: 44px;
    
}

.work-item > a {
    padding-left: 20px;
    padding-right: 20px;
}

.work-item:last-child {
    margin-right: 0;
}

.work-item:hover > a {
    background-color: #FFB742;
    color: #212529;
    border-radius: 3px;
}

.works .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.card-item {
    width: 32%;
    margin-bottom: 32px;
}

.card-item > img {
    width: 100%;
    display: flex;
}

footer {
    margin-top: 84px;
}

.footer {
    background-color: #1C1C1C;
    padding: 148px 50px 90px;
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
}
.footer-item {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer-item > h4 {
    color: #FFB742;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.footer-item > h5 {
    color: #F5FBF2;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
}

.footer-item > a {
    color: #7B7B7B;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
}


.footer-item:first-child div {
    color: #D4D4D4;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.footer-item:last-child div {
    color: #7B7B7B;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
}