* {
    font-family: 'Rosario', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 129px;
    z-index: 20;
}

.logo {
    background-color: #fff;
}

.logo a {
    display: flex;
}

.nav {
    display: flex;
    list-style: none;
}

.nav-item a {
    color: #fff;
    padding: 10px 27px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 36px;
    font-style: italic;
    line-height: 44px;
}

.nav-item:last-child a {
    padding-right: 16px;
}

/* block gallery */

.gallery {
    display: flex;
    align-items: center;
    padding: 70px 44px;
    margin-top: 149px;
}

.gallery-item picture {
    border-radius: 30px;
    display: block;
    position: sticky;
    z-index: -1;
}

.gallery-item picture img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: inherit;
}

.item-left,
.item-right {
    width: 20%;
}

.item-left picture {
    transform: translateX(-360px);
    animation-name: left-item;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes left-item {
    from {
        transform: translateX(-360px); 
    }
    to {
        transform: translateX(0px);
    }
}

.item-right picture {
    transform: translateX(360px);
    animation-name: right-item;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes right-item {
    from {
        transform: translateX(360px); 
    }
    to {
        transform: translateX(0px);
    }
}

.item-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 72px;
    margin-right: 72px;
    z-index: -1;
}

.item-middle picture {
    margin-bottom: 42px;
    width: 49%;
}

.item-middle picture:nth-last-child(1),
.item-middle picture:nth-last-child(2) {
    margin-bottom: 0;
}

.item-middle picture:nth-child(odd) {
    transform: translateX(-880px);
    animation-name: middle-item-odd;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    
}

@keyframes middle-item-odd {
    from {
        transform: translateX(-880px); 
    }
    to {
        transform: translateX(0px);
    }
}

.item-middle picture:nth-child(even) {
    transform: translateX(880px);
    animation-name: middle-item-even;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes middle-item-even {
    from {
        transform: translateX(880px); 
    }
    to {
        transform: translateX(0px);
    }
}

/* block gallery + adaptive */


/* block services */

.services {
    display: flex;
}

.card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 86px;
    width: 52%;
    gap: 31px;
}

.card-item {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.card-item picture {
    border-radius: 50%;
    animation: picture-rotate 5s infinite linear;
}

@keyframes picture-rotate {
    from {
transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-item picture,
.card-item picture img {
    display: block;
}

.card-item span {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-top: 12px;
}

.item-1 {
    animation-name: item-one;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes item-one {
    0% {
        transform: translate(0%);
    }
    25% {
        transform: translate(114.5%, 0%);
    }
    50% {
        transform: translate(114.5%, 107.5%);
    }
    75% {
        transform: translate(0%, 107.5%);    }
    100% {
        transform: translate(0%);
    } 
}
.item-2 {
    animation-name: item-two;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes item-two {
    0% {
        transform: translate(0%);
    }
    25% {
        transform: translate(0%, 107.5%);
    }
    50% {
        transform: translate(-114.5%, 107.5%);
    }
    75% {
        transform: translate(-114.5%, 0%);
    }
    100% {
        transform: translate(0%);
    }
}
.item-3 {
    animation-name: item-three;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes item-three {
    0% {
        transform: translate(0%);
    }
    25% {
        transform: translate(0%, -107.5%);
    }
    50% {
        transform: translate(114.5%, -107.5%);
    }
    75% {
        transform: translate(114.5%, 0%);  
    }
    100% {
        transform: translate(0%);
    }
}

.item-4 {
    animation-name: item-four;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes item-four {
    0% {
        transform: translate(0%);
    }
    25% {
        transform: translate(-114.5%, 0%);
    }
    50% {
        transform: translate(-114.5%, -107.5%);
    }
    75% {
        transform: translate(0%, -107.5%);
    }
    100% {
        transform: translate(0%);
    }
}

.bg-img {
    background-image: url(../img/services/services-bg-img.png);
    background-repeat: no-repeat;
    width: 48%;
}

/* block team */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
}

.team-cards {
    display: flex;
    justify-content: space-between;
    padding: 51px 66px 33px;
}

.team-cards div {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.team-item {
    display: block;
    width: 48%;
    border-radius: 40px;
    position: relative;
    z-index: 10;
}

.team-name {
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 154px;
    border-radius: 0 0 40px 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0;
    background-color: rgba(163, 83, 10, 0.7);
    visibility: hidden;
}
 
.team-item:hover .team-name  {
    visibility: visible;
}

.team-item:hover .team-photo{
    filter: brightness(100%);
    transition: all .2s linear;
}

.team-item img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    filter: brightness(40%);
} 

/* block contacts */

.contaсts {
    padding: 72px 164px;
}

.box-contact-us {
    display: flex;
    justify-content: space-between;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
    height: 100%;
}

.contact-us h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    margin: 0;
    text-align: center;
    padding: 0 20px 15px;
}

.contact-us form {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding: 52px 29px 14px;
}

.form-item {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 5px 20px;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

.contact-us form label:first-child {
    margin-right: 50px;
}

.contact-us form div {
    margin-bottom: 43px;
    display: flex;
}

.contact-map {
    display: flex;
    width: 41%;
}

.contact-map iframe {
    height: 100%;
}

/* contacts-footer */

.contacts-footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.contacts-footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-footer ul:first-child {
    width: 34%;
}

.d-flex {
    display: flex;
}

.contact-item,
.contact-item a {
    color: #000;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
}

.contact-item span {
    font-weight: 700;
    font-style: normal;
}

.contact-item img {
margin-right: 10px;
}