* {
    font-family: 'Rosario', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 98%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: #fff;
}

.nav-btn {
    border: none;
    padding: 0 25px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.nav-btn img {
    width: 35px;
}

.nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #000;
    display: none;
}

.nav-item a {
    color: #fff;
    padding: 7px 20px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
}

/* block gallery */

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery-item picture {
    border-radius: 30px;
    display: block;
    position: sticky;
    z-index: -1;
    margin-top: 30px;
}
.item-middle picture {
    height: 357px;
}

.gallery-item picture img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: inherit;
}

.item-left picture {
    transform: translateX(-410px);
    animation-name: left-item;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes left-item {
    from {
        transform: translateX(-410px); 
    }
    to {
        transform: translateX(0px);
    }
}

.item-middle picture:nth-child(odd) {
    transform: translateX(-410px);
    animation-name: middle-item-odd;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    
}

@keyframes middle-item-odd {
    from {
        transform: translateX(-410px); 
    }
    to {
        transform: translateX(0px);
    }
}

.item-middle picture:nth-child(even) {
    transform: translateX(410px);
    animation-name: middle-item-even;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes middle-item-even {
    from {
        transform: translateX(410px); 
    }
    to {
        transform: translateX(0px);
    }


}

.item-right picture {
    transform: translateX(410px);
    animation-name: right-item;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes right-item {
    from {
        transform: translateX(410px); 
    }
    to {
        transform: translateX(0px);
    }
}

/* block services */

.services {
    margin-top: 64px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-item:not(:first-child) {
    margin-top: 54px;
}

.card-item picture {
    border-radius: 50%;
    animation: picture-rotate 5s infinite linear;
}

@keyframes picture-rotate {
    from {
transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-item span {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-top: 12px;
}

.bg-img {
    background-image: url(../img/services/services-bg-img.png);
    background-repeat: no-repeat;
    width: 48%;
    display: none;
}

/* block team */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.team h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
}

.team-cards div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-cards div:first-child picture:first-child {
    margin-top: 0;
}

.team-item {
    margin-top: 30px;
    width: 100%;
    height: 677px;
}

.team-photo {
    width: 100%;
    height: 100%;
}

.team-item {
    position: relative;
    display: flex;
}

.team-name {
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 154px;
    border-radius: 0 0 40px 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0;
    background-color: rgba(163, 83, 10, 0.7);
    opacity: 0;
}

.team-item:hover .team-name {
    transition: all .4s linear;
    opacity: 1;
}

/* block contacts */

.contaсts {
    margin-top: 50px;
}

.box-contact-us {
    display: flex;
    flex-direction: column;
}

.contact-us {
    order: 2;
}

.contact-us h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    margin: 50px 0 30px;
}

.contact-map {
    order: 1;
    display: flex;
}

.contact-us form {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding: 15px 7px 5px;
}

.contact-us form div {
    margin-bottom: 15px;
    display: flex;
}

.contact-us form label:first-child {
    margin-right: 50px;
}

.form-item {
    text-transform: capitalize;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 5px 20px;
}


.contacts-footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts-footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.contacts-footer ul:first-child {
    margin-top: 0;
}

.contact-item,
.contact-item a {
    color: #000;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.contact-item span {
    font-weight: 700;
    font-style: normal;
}

.contact-item img {
    margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {    
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item-left,
    .item-right {
        width: 48%;
    }

    .item-middle {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        order: 1;
        
    }

    .item-middle picture {
        width: 48%;
    }

    .item-right picture,
    .item-left picture {
        animation-delay: 0s; 
    }

    .item-middle picture:nth-child(odd),
    .item-middle picture:nth-child(even) {
        animation-delay: 1s;
    }

    /* block services*/
    .services {
        display: flex;
        flex-direction: column;
    }

    .card-box {
        order: 2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card-item {
        order: 2;
    }

    .card-item:nth-child(2) {
        margin-top: 0;
    }

    .bg-img {
        display: flex;
        width: 100%;
        height: 1000px;
        order: 1;
        margin-bottom: 50px;
    }

    /* block team*/

    .team-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .team-cards div {
        flex-direction: row;
        justify-content: space-between;
    }

    .team-cards div:first-child picture:nth-child(2) {
        margin-top: 0;
    }

    .team-item {
        width: 48%;
    }
    /* block contacts*/

    .contaсts {
        margin-top: 0;
    }

    .contact-us {
        order: 1;
    }

    .contact-us form {
        padding: 20px 10px 10px;
    }

    .contact-us form label {
        width: 100%;
    }

    .form-item {
        padding: 10px 25px;
    }
    
    .contact-map {
        order: 2;
        margin-top: 50px;
    }

    .contact-map iframe {
        width: 100%;
    }


}

@media (min-width: 993px) and (max-width: 1620px) {
    .container {
        width: 100%;
    }

    .header {
        align-items: center;
        background-color: #000;
        position: fixed;
        top: 0;
        width: 100%;
        height: 129px;
        z-index: 20;
    }

    .nav-btn {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item a {
        padding: 10px 27px;
        font-size: 36px;
        line-height: 44px;
    }

    .nav-item:last-child a {
        padding-right: 16px;
    }
    /*block gallery*/

    .gallery {
        flex-direction: row;
        align-items: center;
        padding: 70px 44px;
        margin-top: 149px;
    }

    .item-left,
    .item-right {
        width: 20%;
    }

    .item-left picture {
        transform: translateX(-360px);
        animation-name: left-item;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    @keyframes left-item {
        from {
            transform: translateX(-360px); 
        }
        to {
            transform: translateX(0px);
        }
    }
    
    .item-right picture {
        transform: translateX(360px);
        animation-name: right-item;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    @keyframes right-item {
        from {
            transform: translateX(360px); 
        }
        to {
            transform: translateX(0px);
        }
    }

    .item-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 72px;
    margin-right: 72px;
    z-index: -1;
    }

    .item-middle picture {
        margin-bottom: 42px;
        margin-top: 0;
        width: 49%;
    }

    .item-middle picture:nth-last-child(1),
    .item-middle picture:nth-last-child(2) {
        margin-bottom: 0;
    }
    .item-middle picture:nth-child(odd) {
        transform: translateX(-880px);
        animation-name: middle-item-odd;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
        
    }
    
    @keyframes middle-item-odd {
        from {
            transform: translateX(-880px); 
        }
        to {
            transform: translateX(0px);
        }
    }
    
    .item-middle picture:nth-child(even) {
        transform: translateX(880px);
        animation-name: middle-item-even;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    @keyframes middle-item-even {
        from {
            transform: translateX(880px); 
        }
        to {
            transform: translateX(0px);
        }
    }

    /* block services */

    .services {
        display: flex;
    }

    .card-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 26px 86px;
        width: 52%;
        gap: 31px;
    }

    .card-item {
        display: flex;
        width: 47%;
        flex-direction: column;
        z-index: -1;
    }

    .card-item:nth-child(2) {
        margin-top: 0;
    }

    .card-item picture,
    .card-item img {
        width: 100%;
        border-radius: 50%;
    }

    .bg-img {
        background-image: url(../img/services/services-bg-img.png);
        background-repeat: no-repeat;
        width: 48%;
        display: flex;
    }

    .item-1 {
        animation-name: item-one;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @keyframes item-one {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(114.5%, 0%);
        }
        50% {
            transform: translate(114.5%, 107.5%);
        }
        75% {
            transform: translate(0%, 107.5%);    }
        100% {
            transform: translate(0%);
        } 
    }
    .item-2 {
        animation-name: item-two;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes item-two {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(0%, 107.5%);
        }
        50% {
            transform: translate(-114.5%, 107.5%);
        }
        75% {
            transform: translate(-114.5%, 0%);
        }
        100% {
            transform: translate(0%);
        }
    }
    .item-3 {
        animation-name: item-three;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes item-three {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(0%, -107.5%);
        }
        50% {
            transform: translate(114.5%, -107.5%);
        }
        75% {
            transform: translate(114.5%, 0%);  
        }
        100% {
            transform: translate(0%);
        }
    }
    
    .item-4 {
        animation-name: item-four;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes item-four {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(-114.5%, 0%);
        }
        50% {
            transform: translate(-114.5%, -107.5%);
        }
        75% {
            transform: translate(0%, -107.5%);
        }
        100% {
            transform: translate(0%);
        }
    }

    /* block team */

    .team h1 {
        font-size: 96px;
        line-height: 116px;
    }
    
    .team-cards {
        display: flex;
        justify-content: space-between;
        padding: 51px 66px 33px;
        width: 100%;
    }

    .team-cards div {
        width: 47%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .team-item {
        display: block;
        width: 48%;
        border-radius: 40px;
        position: relative;
        z-index: 10;
        margin-top: 0;
    }

    .team-item img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        filter: brightness(40%);
    }

    .team-item:hover .team-photo{
        filter: brightness(100%);
        transition: all .4s linear;
    }

    .contaсts {
        padding: 72px 164px;
    }
    
    .box-contact-us {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contact-us {
        justify-content: space-between;
        width: 56%;
        height: 100%;
        order: 1;
    }
    
    .contact-us h2 {
        font-size: 64px;
        line-height: 78px;
        margin: 0;
        padding: 0 20px 15px;
    }
    
    .contact-us form {
        padding: 52px 29px 14px;
    }
    
    .form-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    
    .contact-us form div {
        margin-bottom: 43px;
    }
    
    .contact-map {
        width: 41%;
        order: 2;
    }
    
    .contact-map iframe {
        height: 100%;
    }

    .contacts-footer {
        flex-direction: row;
    }

    .contacts-footer ul {
        margin-top: 0;
    }

}
@media (min-width: 1621px) {
    .container {
        width: 1620px;
        margin: 0 auto;
    }

    .header {
        align-items: center;
        background-color: #000;
        position: fixed;
        top: 0;
        width: 100%;
        height: 129px;
        z-index: 20;
    }

    .nav-btn {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item a {
        padding: 10px 27px;
        font-size: 36px;
        line-height: 44px;
    }

    .nav-item:last-child a {
        padding-right: 16px;
    }
    /*block gallery*/

    .gallery {
        flex-direction: row;
        align-items: center;
        padding: 70px 44px;
        margin-top: 149px;
    }

    .item-left,
    .item-right {
        width: 20%;
    }

    .item-left picture {
        transform: translateX(-460px);
        animation-name: left-item;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    @keyframes left-item {
        from {
            transform: translateX(-460px); 
        }
        to {
            transform: translateX(0px);
        }
    }
    
    .item-right picture {
        transform: translateX(460px);
        animation-name: right-item;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    @keyframes right-item {
        from {
            transform: translateX(460px); 
        }
        to {
            transform: translateX(0px);
        }
    }

    .item-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 72px;
    margin-right: 72px;
    z-index: -1;
    }

    .item-middle picture {
        margin-bottom: 42px;
        margin-top: 0;
        width: 49%;
    }

    .item-middle picture:nth-last-child(1),
    .item-middle picture:nth-last-child(2) {
        margin-bottom: 0;
    }
    .item-middle picture:nth-child(odd) {
        transform: translateX(-980px);
        animation-name: middle-item-odd;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
        
    }
    
    @keyframes middle-item-odd {
        from {
            transform: translateX(-980px); 
        }
        to {
            transform: translateX(0px);
        }
    }
    
    .item-middle picture:nth-child(even) {
        transform: translateX(980px);
        animation-name: middle-item-even;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    @keyframes middle-item-even {
        from {
            transform: translateX(980px); 
        }
        to {
            transform: translateX(0px);
        }
    }

    /* block services */

    .services {
        display: flex;
    }

    .card-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 26px 86px;
        width: 52%;
        gap: 31px;
    }

    .card-item {
        display: flex;
        width: 47%;
        flex-direction: column;
        z-index: -1;
    }

    .card-item:nth-child(2) {
        margin-top: 0;
    }

    .card-item picture,
    .card-item img {
        width: 100%;
        border-radius: 50%;
    }

    .bg-img {
        background-image: url(../img/services/services-bg-img.png);
        background-repeat: no-repeat;
        width: 48%;
        display: flex;
    }

    .item-1 {
        animation-name: item-one;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @keyframes item-one {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(114.5%, 0%);
        }
        50% {
            transform: translate(114.5%, 107.5%);
        }
        75% {
            transform: translate(0%, 107.5%);    }
        100% {
            transform: translate(0%);
        } 
    }
    .item-2 {
        animation-name: item-two;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes item-two {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(0%, 107.5%);
        }
        50% {
            transform: translate(-114.5%, 107.5%);
        }
        75% {
            transform: translate(-114.5%, 0%);
        }
        100% {
            transform: translate(0%);
        }
    }
    .item-3 {
        animation-name: item-three;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes item-three {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(0%, -107.5%);
        }
        50% {
            transform: translate(114.5%, -107.5%);
        }
        75% {
            transform: translate(114.5%, 0%);  
        }
        100% {
            transform: translate(0%);
        }
    }
    
    .item-4 {
        animation-name: item-four;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes item-four {
        0% {
            transform: translate(0%);
        }
        25% {
            transform: translate(-114.5%, 0%);
        }
        50% {
            transform: translate(-114.5%, -107.5%);
        }
        75% {
            transform: translate(0%, -107.5%);
        }
        100% {
            transform: translate(0%);
        }
    }

    /* block team */

    .team h1 {
        font-size: 96px;
        line-height: 116px;
    }
    
    .team-cards {
        display: flex;
        justify-content: space-between;
        padding: 51px 66px 33px;
        width: 100%;
    }

    .team-cards div {
        width: 47%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .team-item {
        display: block;
        width: 48%;
        border-radius: 40px;
        position: relative;
        z-index: 10;
        margin-top: 0;
    }

    .team-item img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        filter: brightness(40%);
    }

    .team-item:hover .team-photo{
        filter: brightness(100%);
        transition: all .4s linear;
    }

    .contaсts {
        padding: 72px 164px;
    }
    
    .box-contact-us {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contact-us {
        justify-content: space-between;
        width: 56%;
        height: 100%;
        order: 1;
    }
    
    .contact-us h2 {
        font-size: 64px;
        line-height: 78px;
        margin: 0;
        padding: 0 20px 15px;
    }
    
    .contact-us form {
        padding: 52px 29px 14px;
    }
    
    .form-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    
    .contact-us form div {
        margin-bottom: 43px;
    }
    
    .contact-map {
        width: 41%;
        order: 2;
    }
    
    .contact-map iframe {
        height: 100%;
    }

    .contacts-footer {
        flex-direction: row;
    }

    .contacts-footer ul {
        margin-top: 0;
    }
}

.d-flex {
    display: flex;
}