* {
    box-sizing: border-box;
}

body {
    font-family: 'Inika', serif;
}

.contener {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
padding-top: 25px;
padding-bottom: 25px;
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #E8C23E;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
}

.title span {
    color: #3E45E8;
}

.main {
    background-image: url(../img/main-image.png);
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 265.5px;
    padding-bottom: 265.5px;
    padding-left: 80px;
}

.main-flag {
    display: inline-block;
    width: 22px;
    height: 272px;
    background: rgb(251,226,1);
    background: linear-gradient(180deg, rgba(251,226,1,1) 50%, rgba(30,141,242,1) 50%);
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #ffffff;
    display: inline-block;
    width: 1036px;
    margin-left: 16px;
}

.box {
    margin-top: 72px;
    width: 88.5%;
    margin-left: auto;
    margin-right: auto;
}

.box-title div {
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%; 
}

.box-title hr {
    height: 5px;
    background-color: #3E45E8;
    width: 32%;
    margin: 0; 
}

.cards {
    margin-top: 33px;

}

.card {
    text-decoration: none;
    display: inline-block;
    max-width: 31%;
    min-height: 481px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    vertical-align: text-top;
    height: 100% !important;
}

.card-margin {
    margin: 0 3%;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #3E45E8;
    padding-left: 10px;
    margin-top: 16px;
}

.card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
    display: inline-block;
    width: 75%;
    padding-left: 10px;
    padding-bottom: 50px;
}

.victory div {
    text-align: center;
}

.victory hr {
    margin: 0 auto;
}

.picture-map {
    margin-top: 40px;
    text-align: center;
}

.box-bt {
    text-align: center;
    margin-top: 40px;
}

.box-bt a {
    font-weight: 700;
    font-size: 64px;
    line-height: 157.3%;
    background-color: #2A61F0;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 92px;
}

.footer {
    margin-top: 21px;
    background-color: #2F4A4B;
}

.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    display: block;
    text-align: center;
    color: #A89D9D;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Marcellus SC', serif;
}
.social {
    margin-top: 20px;
    padding-bottom: 27px;
    text-align: center;
}