* {
    font-family: 'Montserrat', sans-serif;font-family: 'Montserrat', sans-serif;
}

.header-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.logo {
    margin-right: 100px;
}

.location input {
    border: 2px solid #323232;
}

.location input:focus {
    box-shadow: 0 0 0 0.25rem #EF781A !important;
    border-color: transparent;
}

.location::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 15px;
    width: 22px;
    height: 22px;
    transform: translateY(-50%);
    background-image: url(../img/location.svg);
    background-repeat: no-repeat;
}
.bg-primary {
    background-color: #EF781A !important;
}
.bg-secondary {
    background-color: #00D008 !important;
}

.bg-body {
    background-color: #ECECEC !important;
}

.header-title {
    font-weight: 800;
    font-size: 36px;
    border-top: 1px solid #C4C4C4;
    padding-top: 25px;
    padding-bottom: 20px;  
}

.nav-link:hover {
    background-color: #C4C4C4 !important;
}


.card-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-functions {
    height: 30px;
}

.card:hover .price {
    display: none;
}
.card:hover .btn-add {
    display: block !important;
}


.card:hover .favorites {
    background-image: url(../img/favorites-active.svg);
}

.col {
    margin-top: 0;
}

.favorites {
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
    background-image: url(../img/favorites.svg);
    background-repeat: no-repeat;
    background-position-y: center;
}

.btn-up {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(13px, 65px);
}
 

.box-order {
    margin-top: 31px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.quantity {
    width: 28px;
    height: 28px;
    color: #fff;
}



.text-primary {
    color: #7B7B7B !important;
}

.pb-120 {
   padding-bottom: 120px; 
}

.fs-1 {
    font-size: 24px !important;
}
.fs-2 {
    font-size: 18px !important;
}
.fs-3 {
    font-size: 16px !important;
}
.fs-4 {
    font-size: 14px !important;
}
.fs-5 {
    font-size: 12px !important;
}
.fs-6 {
    font-size: 10px !important;
}
