.profile-container {
    width: 60%;
    margin: 41px auto 321px;
    display: flex;
    flex-direction: column;
}

.profile-box {
    background-color: #BDBDC6;
    padding: 77px 80px 77px 140px;
    display: flex;
}

.box-setting {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.box-setting img {
    margin-bottom: 16px;
}

.box-setting button {
    margin-top: 22px;
    font-size: 24px;
    line-height: 31px;
    background-color: #484A54;
    color: #FFFFFF;
    border-radius: 24px;
    border: none;
    padding: 9px 17px;
}

.box-setting button:hover {
    background-color: #69749B;
}

.box-data {
    margin-left: 140px;
    width: 100%;
}

.box-data div {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    border-bottom: 3px solid #FFFFFF;
    padding: 16px 0;
    color: #353C57;
}

.box-data div:last-child {
    border-bottom: none;
}

.box-data span {
    font-weight: 400;
}

.out-bt {
    margin: 40px auto 0;
    font-size: 27px;
    line-height: 35px;
    color: #FFFFFF;
    border: none;
    background-color: #202846;
    padding: 10px 70px;
    border-radius: 30px;
}

.out-bt:hover {
    opacity: .8;
}