body {
    background-color: #C0C8C4;
}

.create-btn {
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 26px auto;
    padding: 15px 50px;
    justify-content: center;
    background-color:#FFCD00;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.create-btn:hover {
    border-color: #FFCD00;
    background-color: #000;
    transition-duration: .8s;
    transition-property: background-color, border-color;

}

.circle {
    border-radius: 50px;
    cursor: pointer;
    border: 1.5px solid #FFCD00;
}
.circles {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
